# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\John\OneDrive - Waterford Institute of Technology\Waterford Institute of Technology\Creative Computing Year 4\Mobile App Dev 1\Agri_Dealership_Assignment_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
